<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Dashboard</h1>
</div>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nombre Completo</th>
    <th scope="col">Artículos</th>
    <th scope="col">Congresos</th>
    <th scope="col">Libros</th>
    <th scope="col">Capítulos</th>
    <th scope="col">Reportes</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>Gabriel García Márquez</td>
    <td>7</td>
    <td>4</td>
    <td>34</td>
    <td>11</td>
    <td>1</td>
  </tr>
  <tr>
    <td>2</td>
    <td>William Shakespeare</td>
    <td>1</td>
    <td>6</td>
    <td>14</td>
    <td>1</td>
    <td>0</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Albert Einstein</td>
    <td>82</td>
    <td>125</td>
    <td>18</td>
    <td>21</td>
    <td>189</td>
  </tr>
  </tbody>
</table>
