<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Login</h1>
  </div>
  <form>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="password">
    </div>
  
    <div class="btn-toolbar mb-3" role="toolbar">
      <div class="btn-group mr-3" role="group">
        <a class="btn btn-secondary" routerLink="/">Cancelar</a>
      </div>
      <div class="btn-group" role="group">
        <button type="submit" class="btn btn-primary">Acceder</button>
      </div>
    </div>
  </form>
